# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# user defined
Minecraft-RPC.iml
Minecraft-RPC.ipr
Minecraft-RPC.iws